
NEXT_PUBLIC_LOGIN_URL=http://localhost:3001?redirect_cohort_discovery_upon_signin=http://localhost:3000
API_BASE_URL=http://localhost:8100

APPLICATION_MODE='integrated'
NEXT_PUBLIC_USE_EXAMPLE_QUERY=false
NEXT_PUBLIC_USE_DEBUG_LOGS=false