
NEXT_PUBLIC_LOGIN_URL=http://localhost:3001?redirect_cohort_discovery_upon_signin=http://localhost:3000
API_BASE_URL=http://localhost:8100
NEXT_PUBLIC_TASK_URL=http://localhost:8100/api/v1

APPLICATION_MODE='integrated' # or 'standalone'
NEXT_PUBLIC_USE_EXAMPLE_QUERY=false
NEXT_PUBLIC_USE_DEBUG_LOGS=false
NEXT_PUBLIC_HDRUK_THEME_ENABLED=true
NEXT_PUBLIC_HEADER_LOGO_URL=https://www.bbmri-eric.eu/wp-content/uploads/BBMRI-ERIC_logo_healthier_world_1920x700-scaled-e1741005235134.jpg

OIDC_ENABLED=false
OIDC_ISSUER_URL=
OIDC_CLIENT_ID=
OIDC_SCOPES=openid profile email
OIDC_AUDIENCE=http://localhost
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000/auth

CONFIG_SERVICE_DESK_URL=
CONFIG_SERVICE_DESK_SUPPORT_SUFFIX=customer/portal/7/group/14/create/44?customfield_10752=11728
CONFIG_SERVICE_DESK_REPORT_BUG_SUFFIX=customer/portal/7/group/14/create/44?customfield_10752=11728
CONFIG_SUPPORT_URL=https://healthdatagateway.org

DEFAULT_TABLE_REFRESH_INTERVAL=
DEFAULT_MAX_INVALID_REASONS=
DEFAULT_SEARCH_PREFETCH=
DEFAULT_SEARCH_WAIT_TIME=
DEFAULT_SEARCH_SUGGESTION_ROTATION=
